html {
    font-size: 18px;
}
  
body {
    font-family: "Roboto", sans-serif;
}

.footer {
    text-align: center;
    color: lightblue;
}

.fill {
    width: 150px;
    height: 100px;
    border: 1px solid #000;
    object-fit: fill;
}

header a {
    position: relative;
    word-spacing: 20px;
    letter-spacing: 10px;
    word-wrap: break-word;
    visibility: inherit;
}

header a:after {
    transition: color 1.5s ease; font-size: 1.5 ease;
    color: green;
    font-size: 40px;
    display: inline-block;
}