html {
    height: 1000px;
    max-width: 910px;
}
  
body {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    background-color: rgba(131, 124, 124, 0.61);                                                                                                                                                                           
}

.full {
    margin-left: 30px;
}

.h1 {
    font-size: 20px;
}

header > div {
    background-color: white;
    height: 160px;
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 2px; 
    width: 33%;
    box-sizing: border-box;
}

.main {
    min-height: 300px;
    height: 1px;
    overflow: hidden;
}

.first {
    float: left;
    padding-left: 8px;
    padding-top: 8px;
    background-color: white;
    width: 70%;
    box-sizing: border-box;
    height: 100%;
}

.navigation {
    background-color: white;
    float: right;
    padding-left: 8px;
    width: 30%;
    box-sizing: border-box;
    height: 100%;
    /* background-color: rgba(168, 162, 162, 0.61);   */
}

ul {
    display: grid;
}

ul > li {
    width: calc(33.332% - 20px);
    margin: 0 10px 10px;
}

.list {
    background-color: lightgray;
    padding-top: 15px;
    padding-left: 15px;
    list-style-type: none;
    height: 70%;
    grid-row: 1;
    margin: 0 -10px;
}

/* @media screen and (max-width: 320px) {

}

@media screen (min-width: 321px) and (max-width: 768px) {
    
}

*/